<head>
	<!-- General SEO -->
	<meta name="keywords" content="april,mintac,pineda,portfolio,website,developer,software,engineer">
	<meta name="description" content="Official portfolio site owned by a software developer named April Mintac Pineda.">
	<meta name="author" content="April Mintac Pineda">
	<meta name="copyright" content="April Mintac Pineda">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<!-- Open Graph -->
	<meta property="og:url" content="https://aprilmintacpineda.github.io/">
	<meta property="og:type" content="website">
	<meta property="og:description" content="Official portfolio site owned by a software developer named April Mintac Pineda.">
	<meta property="og:image:secure_url" content="https://aprilmintacpineda.github.io/images/profile.jpg">
	<meta property="og:locale" content="en_US">
	<!-- Twitter Card -->
	<meta name="twitter:url" content="https://aprilmintacpineda.github.io/">
	<meta name="twitter:card" content="website">
	<meta name="twitter:description" content="Official portfolio site owned by a software developer named April Mintac Pineda.">
	<meta name="twitter:image" content="https://aprilmintacpineda.github.io/images/profile.jpg">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Slab:300|Raleway"> 

	<link rel="stylesheet" type="text/css" href="{{ " /css/fontawesome.min.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" type="text/css" href="{{ "/css/app.css" | prepend: site.baseurl }}">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111722788-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-111722788-1');
	</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>