<section class="top-bar-special hidden">
  <a class="non-mobile" href="/"><img src="{{ "images/profile.jpg" | prepend: site.baseurl }}"></a>
  <div class="social-media non-mobile">
    <a class="media" href="https://www.facebook.com/aprilmintacpineda"><span class="fa fa-facebook-square" aria-hidden="true"></span></a>
    <a class="media" href="https://twitter.com/aprmintacpineda"><span class="fa fa-twitter-square" aria-hidden="true"></span></a>
    <a class="media" href="https://www.linkedin.com/in/aprilmintacpineda/"><span class="fa fa-linkedin-square" aria-hidden="true"></span></a>
    <a class="media" href="https://www.youtube.com/channel/UCHzdp9dHGxis-LkOMwqhSkA"><span class="fa fa-youtube-square" aria-hidden="true"></span></a>
    <a class="media" href="https://gist.github.com/aprilmintacpineda"><span class="fa fa-github-square" aria-hidden="true"></span></a>
  </div>
  <ul class="nav-menu non-mobile">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
  </ul>
  <a class="bars"><span class="fa fa-bars" aria-hidden="true"></span></a>
  <section class="sidebar hidden">
    <div class="close">
      <a class="close-btn"><span class="fa fa-times" aria-hidden="true"></span></a>
    </div>
    <ul class="nav-menu-sidebar">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <ul class="social-media-sidebar">
      <li><a class="media" href="https://www.facebook.com/aprilmintacpineda"><span class="fa fa-facebook-square" aria-hidden="true"></span></a></li>
      <li><a class="media" href="https://twitter.com/aprmintacpineda"><span class="fa fa-twitter-square" aria-hidden="true"></span></a></li>
      <li><a class="media" href="https://www.linkedin.com/in/aprilmintacpineda/"><span class="fa fa-linkedin-square" aria-hidden="true"></span></a></li>
      <li><a class="media" href="https://www.youtube.com/channel/UCHzdp9dHGxis-LkOMwqhSkA"><span class="fa fa-youtube-square" aria-hidden="true"></span></a></li>
      <li><a class="media" href="https://gist.github.com/aprilmintacpineda"><span class="fa fa-github-square" aria-hidden="true"></span></a></li>
    </ul>
  </section>
</section>
<header class="site-header">
  <section class="top-bar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="{{ "/about" | prepend: site.baseurl }}">About</a></li>
    </ul>
  </section>
  <section class="head-line">
    <h1>I'm a Geek.</h1>
  </section>
  <section class="profile">
    <img src="{{ "images/profile.jpg" | prepend: site.baseurl }}">
    <div>
      <h1>April Mintac Pineda</h1>
      <h2>Software Engineer</h2>
      <h3>I live and breath software engineering.</h3>
    </div>
  </section>
  <section class="social-media">
    <a class="media" href="https://www.facebook.com/aprilmintacpineda"><span class="fa fa-facebook-square" aria-hidden="true"></span></a>
    <a class="media" href="https://twitter.com/aprmintacpineda"><span class="fa fa-twitter-square" aria-hidden="true"></span></a>
    <a class="media" href="https://www.linkedin.com/in/aprilmintacpineda/"><span class="fa fa-linkedin-square" aria-hidden="true"></span></a>
    <a class="media" href="https://www.youtube.com/channel/UCHzdp9dHGxis-LkOMwqhSkA"><span class="fa fa-youtube-square" aria-hidden="true"></span></a>
    <a class="media" href="https://gist.github.com/aprilmintacpineda"><span class="fa fa-github-square" aria-hidden="true"></span></a>
  </section>
</header>